@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
:root {
	/* --color1: #f4e409;
	--color2: #eeba0b; */

}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	background: #353535;
	color: #c4c4c4;
	font-family: "Raleway", sans-serif;
	font-size: 1.2rem;
	line-height: 1.45;
	/* display: flex;
	flex-wrap: wrap; */

	border: 2px solid blue;
}

/*SIDEBAR*/
.sidebar {
	background-color: #4f4f4f;
	display: flex;
	flex: 1 1 20%;
	justify-content: space-between;
	min-width: 300px;
	padding: 3rem;
}

.logo {
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.logo span {
	font-weight: 700;
}

.nav-item {
	color: #939393;
	text-decoration: none;
	margin-right: 2em;
	font-size: 1.7rem;
	display: inline-block;
}

.nav-item.active {
	color: #c4c4c4;
	font-weight: bold;
}

/*MAIN CONTENT*/
.main-content {
	flex: 1 1 80%;
	min-height: 100vh;
	padding: 3rem;
}

.portfolio {
	display: grid;
	gap: 1rem;
	text-align: center;
	font-weight: bold;
	grid-template-areas:
	"one two two two two"
	"one three three four eight"
	"one six five four eight"
	"one six seven four eight"
	"nine nine nine nine eight";
}

.one {
	grid-area: one;
	background-color: #6161BA;
}

.two {
	grid-area: two;
	background-color: #6161BA;
}

.three {
	grid-area: three;
	background-color: #FF7E39;
}
.four {
	grid-area: four;
	background-color: #FF7E39;
}
.five {
	grid-area: five;
	background-color: #FF7E39;
}

.six {
	grid-area: six;
	background-color: #FF7E39;
}
.seven {
	grid-area: seven;
	background-color: #FF7E39;
}
.eight {
	grid-area: eight;
	background-color: #6161BA;
}
.nine {
	grid-area: nine;
	background-color: #6161BA;
}


/*MEDIA QUERIES*/
/*Needs to be 1500 px for large size*/
@media(min-width: 1500px)
{
	body .container {
		/* display: grid;
		grid-template-areas: 
		"sidebar main main main main";
		grid-template-columns: 1fr 1fr 1fr; */
		display: flex;
	}

	.sidebar {
		/* grid-area: sidebar; */
		grid-template-columns: span 1/2;
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 2px solid yellow;
	}

	.logo {
		margin-bottom: 1rem;
	}

	nav {
		padding-top: 0px;
	}

	.main-content {
		/* grid-area: main; */
		/* grid-template-columns: span 2/4; */
	}

	.nav-item {
		display:block;
		margin:7vh 0;
	}
}

@media(max-width: 950px) {
	.sidebar {
		display: flex;
		flex-direction: column;
		/* align-items: center; */
	}

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.portfolio {
		display: grid;
		grid-template-areas: 
		"one"
		"two"
		"three"
		"four"
		"five"
		"six"
		"seven"
		"eight"
		"nine";
	}

}

